@{
    ViewBag.Title = "Home Page";
}

<div class="middle clearfix">
    @{Html.RenderAction("Index", "AlertPublic");}
    <div class="sidebar_right clearfix">
        <div class="donate clearfix">
            <h2><a href="/Donation/Index">Help Make a Difference Donate to TBRHSC</a></h2>
        </div>

        <section class="news_feed clearfix">
            <header>Recent News</header>
            <div class="news_title">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>
            <div class="news_title">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>
            <div class="news_title">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>
            <div class="news_title bottom">
                New Website for Thunder Bay Regional Health Sciences Centre
            </div>

        </section>

        <section class="emergency_info">
            <h2>Emergency Room</h2>
            <div class="emergency_content">
                <ul>
                    <li><a href="~/ER/Index#how-to-get">Trip to ER</a></li>
                    <li><a href="~/ER/Index#visitors">Visitors</a></li>
                    <li><a href="~/ER/Index#discharge">Discharge</a></li>
                    <li><a href="~/ER/Index#admittance">Admittance</a></li>
                    <li><a href="~/ER/Index#er-plan">ER Plan</a></li>
                </ul>
            </div>
            <div id="erm_holder">

            </div>
        </section>

    </div>
    <div class="main_content clearfix">
        <section class="top_section clearfix top">
            <header class="section-header">
                <h1>New Website for Thunder Bay</h1>
            </header>
            <span class="date">@DateTime.Now.DayOfWeek, @DateTime.Now.Date.ToLongDateString()</span>
            <figure>
                <img src="~/img/main.png" />
            </figure>
            <article>
                <div class="one-half first">
                    <p>
                        Over the recent months Thunder Bay Regional Health Sciences Centre’s website, www.tbrhsc.net, was redesigned by the web extrordinaires over at Peregrine, which is a web studio based out of Toronto. Along with the lovely website redesign, THRHSC had it’s branding redesigned to elevate it’s identity into the advanced web friendly future.
                        Lorem ipsum dolor sit amet, quo ei eirmod animal, an sea oratio mandamus disputationi. Eos enim minimum atomorum ei, vel an odio dicit. Ne sit fabulas persecuti mediocritatem. Eos errem vulputate an. Et cibo mundi periculis pro, ne mentitum deserunt ius.
                    </p>
                </div>
                <div class="one-half last">
                    <p>
                        Over the recent months Thunder Bay Regional Health Sciences Centre’s website, www.tbrhsc.net, was redesigned by the web extrordinaires over at Peregrine, which is a web studio based out of Toronto. Along with the lovely website redesign, THRHSC had it’s branding redesigned to elevate it’s identity into the advanced web friendly future.
                        Lorem ipsum dolor sit amet, quo ei eirmod animal, an sea oratio mandamus disputationi. Eos enim minimum atomorum ei, vel an odio dicit. Ne sit fabulas persecuti mediocritatem. Eos errem vulputate an. Et cibo mundi periculis pro, ne mentitum deserunt ius.
                    </p>
                </div>
            </article>
        </section>

        <section class="clearfix bottom">
            <header class="section-header">
                <h1>Another Story about Thunder Bay</h1>
            </header>

            <article class="clearfix">
                <div class="one-half first">
                    <p>
                        Lorem ipsum dolor sit amet, quo ei eirmod animal, an sea oratio mandamus disputationi. Eos enim minimum atomorum ei, vel an odio dicit. Ne sit fabulas persecuti mediocritatem. Eos errem vulputate an. Et cibo mundi periculis pro, ne mentitum deserunt ius.
                        Eos ludus invenire eu. Est ea idque ubique. Alterum feugait mei in. Albucius accusata pericula sit in, eam ut fuisset euripidis, id movet soleat pri. Qui timeam appareat euripidis ne, soluta legendos democritum eu id. In lorem expetendis est, exerci postea vel ea.
                    </p>
                </div>
                <div class="one-half last">
                    <p>
                        Over the recent months Thunder Bay Regional Health Sciences Centre’s website, www.tbrhsc.net, was redesigned by the web extrordinaires over at Peregrine, which is a web studio based out of Toronto. Along with the lovely website redesign, THRHSC had it’s branding redesigned to elevate it’s identity into the advanced web friendly future.
                        Lorem ipsum dolor sit amet, quo ei eirmod animal, an sea oratio mandamus disputationi. Eos enim minimum atomorum ei, vel an odio dicit. Ne sit fabulas persecuti mediocritatem. Eos errem vulputate an. Et cibo mundi periculis pro, ne mentitum deserunt ius.
                    </p>
                </div>
            </article>
        </section>
    </div>

</div>