@model ThunderB_redesign.Models.AlertTable


@*The div that holds the alert*@
@if (Model != null) { 
    <div style="margin-top: -1em; text-align: center; color: #FFF; background-color:@Model.colour; height: 35px;"><p style="padding-top: 5px;">
    @Model.alert</p></div>}
