@if (ViewBag.AlertId == 6)
{
    <div><p><span>Snowy Weather Warning!</span> Please drive carefully.</p></div>
}

else if (ViewBag.AlertId == 9)
{
    <div><p><span>Power Outages Reported.</span> Please be advised.</p></div>

}

else if (ViewBag.AlertId == 10)
{
    <div><p><span>Roads may be icy!</span> Please drive carefully.</p></div>

}

else if (ViewBag.AlertId == 11)
{
    <div><p><span>Flu season is here...</span>cover your cough and wash your hands!</p></div>

}

else if (ViewBag.AlertId == 12)
{
    <div><p><span>Board of Directors meeting is today.</span> Register for attendance.</p></div>

}

else if (ViewBag.AlertId == 13)
{
    <div><p><span>Heavy fog warning.</span> Please drive with caution.</p></div>

}