To: @ViewBag.to
From: admin@tbrhsc.wikiplay.ca
Subject: Thank You

<p>
    Dear @ViewBag.name,
</p>
<br/>
<p>
    We are writing to express our deepest thanks for your recent donation to Thunder Bay Regional Health Sciences Centre. 
    Generous gifts from donors like you provide the financial and and moral support needed to continue our mission.
    There is no way to fully express our gratitude for your loyalty. We at tbrhsc are continually inspired by the the dedication and generosity of donors like yourself who answer the call to give again and again.
</p>
<br/>
<p>
    Best regards,<br/>
    Thunder Bay Hospital
</p>
