To: @ViewBag.to
From: newsletter@tbrhsc.wikiplay.ca
Subject: Thank You for Subscribing to Thunder Bay Hopsital Newsletter

<p>
    Dear @ViewBag.name,
</p>
<br/>
<p>
    This is to inform you that you have successfully subscribed to Thunder Bay Regional Health Sciences Centre's newsletter.
    If you had not requested for the same, please send an email to newsletter@tbrhsc.wikiplay.ca to unsubscribe yourself from our subscribers.
</p>
<br/>
<p>
    Best regards,<br/>
    Thunder Bay Hospital
</p>
