To: @ViewBag.to
From: newsletter@tbrhsc.wikiplay.ca
Subject: @ViewBag.subject

<p>
    Dear Subscriber,
</p>
<br/>
<p>
    This is auto generated email.
    <br/><br/>
    @ViewBag.message
</p>
<br/>
<p>
    Best regards,<br/>
    Thunder Bay Hospital
</p>
