@*@model IEnumerable<ThunderB_redesign.Models.NewsPostPublic>


@{
    ViewBag.Title = "Index";
}




@foreach (var x in Model)
{
    <div>
        <p><strong>Topic: </strong>@Html.DisplayFor(x => x.headline)</p>
        <div><strong>Feedback: </strong>@Html.DisplayFor(x => x.stories)</div>
    </div>
}*@

