@{
    ViewBag.Title = "tbrhsc | Donation Control Panel";
}

@*Author: Wilston Dsouza
Purpose: Mobile Development Final Project*@

<div class="donation-admin">
    <br/>
    <h2>Donation Control Panel</h2>
    <br/>
    <hr/>
    <br/>
    @Html.ActionLink("View Donation Information", "MonthlyDonationAnalytics")
    @Html.ActionLink("View Donor Information", "List")
    <br/>
    <br/>
    <hr/>
</div>

