<div class="donation-admin">
    <h2>Donation Control Panel</h2>
    <img src="@Url.Action("DonationGraphPie", "DonationAdmin")" />
    <img src="@Url.Action("DonationGraphLine", "DonationAdmin")" />
    <br /><hr /><br />
    @Html.ActionLink("View Donor Information", "List")
</div>

