@model IEnumerable<ThunderB_redesign.Models.imagesviewmodel>

@{
    Layout = null;
}

@*------this view displays a list of upladed images that can be inserted in the pages by the click on the thumbnail image---------------*@

<script src="/Scripts/jquery-2.1.3.js"></script>


@*addition to allow ckeditor pload local images; followed tutorial below
    --http://amitraya.blogspot.ca/2014/09/ck-editor-implement-your-own-image.html*@


@foreach (var image in Model)
{
    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
        <img src="@image.Url" alt="image" id="#image" data-source="@image.Url" width="200" height="200" />
    </a>
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".returnImage").click("click", function (e) {
            var urlImage = $(this).attr("data-url");
            //This takes the data value and id of the editor and sends the data(i.e.,image url) back to the caller page
             window.opener.updateValue("cke_73_textInput", urlImage);
            window.close();
        });
    });
</script>