@model IEnumerable<ThunderB_redesign.Models.faq>


@foreach (var x in Model)
{
    <article>
        <div>
            @x.question
        </div>
        <div>
            @Html.Raw(x.answer)
        </div>
    </article>
}
