@{
    ViewBag.Title = "tbrhsc | Newsletter Control Panel";
}

@*Author: Wilston Dsouza
    Purpose: Mobile Development Final Project*@

<div id="newsletter-admin">
    
    <br/>

    <h2>Newsletter has been sent</h2>

    <br /><br />

    @Html.ActionLink("Return to control Panel", "Index")

</div>

