@{
    ViewBag.Title = "tbrhcs | Newsletter Control Panel";
}

@*Author: Wilston Dsouza
    Purpose: Mobile Development Final Project*@

<div>
    <h2>
        Page not found
    </h2>
    <br/>
    @Html.ActionLink("Back to control panel", "Index");
</div>
