<nav class="main_nav clearfix">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Patients</a></li>
        <li><a href="">Visitors</a></li>
        <li><a href="">Programs & Services</a></li>
        <li><a href="">Directory</a></li>
        <li><a href="">Careers</a></li>
    </ul>
    <div class="search-box">

        <input placeholder="Search term" />
        <button><span class="fa fa-search"></span></button>

    </div>
</nav>