@{
    IEnumerable<ThunderB_redesign.Models.menu_category> menuItems = (IEnumerable<ThunderB_redesign.Models.menu_category>)ViewData["MenuItems"];
}

<nav class="main_nav clearfix">
   
    <ul>
        @foreach (var menuItem in menuItems)
        {
            if (menuItem.menu_id == 0)
            {
                <li>@Html.ActionLink(menuItem.menu_text, menuItem.menu_slug)</li>
            }
            else
            {
                //Get the sub menu items
                IEnumerable<ThunderB_redesign.Models.menu_category> subMenuItems = (IEnumerable<ThunderB_redesign.Models.menu_category>)ViewData["SubMenuItems for " + menuItem.menu_id.ToString()];
                
                
                
                <li>
                    <div>@menuItem.menu_text</div>
                    <nav class="sec_nav">
                        <ul>
                            @foreach (var subMenuItem in subMenuItems)
                            {
                                <li>@Html.ActionLink(subMenuItem.menu_text, subMenuItem.menu_slug)</li>
                            }
                        </ul>
                    </nav>
                </li>
            }


        }
    </ul>

    <div class="search-box">

        <input placeholder="Search term" />
        <button><span class="fa fa-search"></span></button>

    </div>
</nav>

