@{
    IEnumerable<ThunderB_redesign.Models.menu_category> menuItems = (IEnumerable<ThunderB_redesign.Models.menu_category>)ViewData["MenuItems"];
}

<nav class="main_nav clearfix">
   
    <ul>
        @foreach (var menuItem in menuItems)
        {
            <li>@Html.ActionLink(menuItem.menu_text, menuItem.menu_slug)</li>
        }
    </ul>

    <div class="search-box">

        <input placeholder="Search term" />
        <button><span class="fa fa-search"></span></button>

    </div>
</nav>