<script src="~/Scripts/otf.js" ></script>
<link rel="stylesheet" type="text/css" href="~/Content/themes/base/all.css"/>
<link rel="stylesheet" type="text/css" href="~/Content/css/PagedList.css" />
@model PagedList.IPagedList<ThunderB_redesign.Models.doctor>

@{
    ViewBag.Title = "Find a Doctor";
}



    <h1>Find a Doctor</h1>


    <p>Find a doctor by Name:</p>

    <form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#doctorList">
        <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete")" />

        <input type="submit" value="Find" />

    </form>


    <h2>List of Doctors</h2>
    @Html.Partial("SearchResults", Model)






