@*------view warning logged in user that his user id doesn't match any doctor id and therefore he can not see any appointments---------*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doctor id not found</title>
</head>
<body>
    <div>
        <h2>
            There is no doctor ID assoiated with your login user id.<br />
            This page requires doctor Id to manage appointments<br />
            Please logout and try logging in again.<br />
            If you see this page again, please contact administrator.

        </h2>
    </div>
</body>
</html>
