@model ThunderB_redesign.Models.triage

@* displaying a form to insert new patient  *@

<div class="timed">
    @using (Html.BeginForm("Insert", "ERAdmin", FormMethod.Post))
    {
        <table class="stripes">

            <tr>

                <th>Emergency type</th>

                <th>Actions</th>
            </tr>
            <tr>
                <td>

                    @Html.Hidden("patient_name", "Case Type")

                    @* dropdown list of emergencies is populated from the viewbag.emergencyList created in the controller *@

                    @Html.DropDownListFor(model => model.em_id, new SelectList(ViewBag.emergencyList, "em_id", "em_description"), "Select an emergency")
                    <br />@Html.ValidationMessageFor(model => model.em_id, "", new { @class = "text-danger" })

                </td>

                <td>
                    <input type="submit" value="Save"
                           formaction="~/admin/ERAdmin/Insert" />
                    &nbsp;&nbsp;
                    <input type="reset" value="Cancel"
                           formaction="~/admin/ERAdmin/Index" />
                </td>
            </tr>
        </table>
    }

</div>

@*function to make "add new patient" disappear after 2 minutes.
    Prevents having to correct default arrival and discharge time if the form stays opened for over 2 min*@

<script type="text/javascript">

    $(document).ready(function () {

        setTimeout(function () {
            $(".timed").hide(500);
        }, 120000);
    });
</script>



