@{
    ViewBag.Title = "Dashboard";
}


<article class="placeholder">
    <h4>Some test content</h4>
    <input type="submit" value="+ Add user" />
</article>

<article class="placeholder">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jervis</td>
            <td>*****</td>
            <td>Admin, Staff</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>George</td>
            <td>*****</td>
            <td>Admin, Staff</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Jasmin</td>
            <td>*****</td>
            <td>Doctor</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Ivan</td>
            <td>*****</td>
            <td>Nurse</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Nick</td>
            <td>*****</td>
            <td>Staff</td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Pedro</td>
            <td>*****</td>
            <td>Staff</td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Mohammed</td>
            <td>*****</td>
            <td>Doctor</td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Harvy</td>
            <td>*****</td>
            <td>Physio</td>
            <td></td>
        </tr>
    </table>
</article>


