@model IEnumerable<ThunderB_redesign.Models.page>

@{
    ViewBag.Title = "Index";
}

<h2>List of pages</h2>


@foreach (var item in Model) {
    <ul>
        
       <li>
            <a href="@Url.Action("Detail", "Page" , new { item.page_slug })" >@Html.DisplayFor(modelItem => item.page_title)</a>

        </li>
    </ul>
}

