@model ThunderB_redesign.Models.product

@{
    ViewBag.Title = "tbrhsc | Gift Shop";
}

@*Author: Wilston Dsouza
    Purpose: Mobile Development Final Project*@

<div id="gift-shop-container">
    
    <br />

    <h2>Gift Shop</h2>

    <br />

    <hr/>

    <div class="product-details">
        <div class="float-left width-49">
            <img src="~/Images/GiftShop/@Model.prd_img_url" />
        </div>
        <div class="float-right width-49">
            <h2>@Html.DisplayFor(model => model.prd_name)</h2>
            <br/>
            <strong>Price:</strong> $@Html.DisplayFor(model => model.prd_price)
            <br/>
            <br/>
            <strong>Description</strong>
            <br/>
            @Html.DisplayFor(model => model.prd_description)
            <br/><br/>
            <strong>Available quantity: </strong>@Html.DisplayFor(model => model.prd_count)
        </div>
        <div class="clear-both"></div>
    </div>
    <br/>
    <hr/>
    <br/>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
