@model IEnumerable<ThunderB_redesign.Models.GiftShopVM>

@{
    ViewBag.Title = "tbrhsc | Gift Shop";
}

@*Author: Wilston Dsouza
    Purpose: Mobile Development Final Project*@

<div id="gift-shop-container">
    
    <br/>
    
    <h2>Gift Shop</h2>

    <br/>

    <hr/>

    <ul>
        
        @foreach (var item in Model)
        {
            <li>
                <a href="/GiftShop/Details/@item.prd_id">
                    <img src="~/Images/GiftShop/@item.prd_img_url" />
                    <br /><br/>
                    <strong>@Html.DisplayFor(modelItem => item.prd_name)</strong>
                    <br />
                    $@Html.DisplayFor(modelItem => item.prd_price)
                </a>
            </li>
        }

    </ul>

    <hr/>

</div>