@model IEnumerable<ThunderB_redesign.Models.newsTable>

@{
    ViewBag.Title = "TBRHSC News";
}


@*Public View for News, lists all news in oder by most recent*@

@foreach (var x in Model)
{
    <div class="news_story">
        <h1>@x.headline</h1>
        <p>Published: @x.date</p>
        <p>@x.stories</p>
        <p>By: @x.author</p>
    </div>
    
}