@model IEnumerable<ThunderB_redesign.Models.newsTable>

@{
    ViewBag.Title = "TBRHSC News";
}

@foreach (var x in Model)
{
    <div class="news_story">
        <h1>@x.headline</h1>
        <div>@x.stories</div>
    </div>
    
}