@model IEnumerable<ThunderB_redesign.Models.newsTable>


@*News Headline Front Page sidebar functionality, lists top 5 most recent news headlines*@

@foreach (var x in Model)
{
    <div class="news_title">
        <p>@x.headline</p>
    </div>

}
