
@*When alert has been successfully updated in the database as being active, and has been posted to the homepage of the website, the user is directed to this page which says SUCCESS*@
<p>Alert Post Successful.</p>
<br />
@Html.ActionLink("Back", "Index")