@model ThunderB_redesign.Models.newsTable

@{
    ViewBag.Title = "Delete News Story: " + @Model.headline;
}

<h2>Are you sure you want to delete this news story?: @Model.headline</h2>

@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Delete" />
        <br />
        <br />
        @Html.ActionLink("Back", "Index", new { id = Model.Id })
    </div>
}