@model IEnumerable<ThunderB_redesign.Models.feedback>


@{
    ViewBag.Title = "Index";
}

<h1>List of Feedback</h1>
<br />
<br />

<ul>
    @foreach (var x in Model)
    {
        <li>@Html.ActionLink(x.topic, "Details", new { id = x.Id })</li>
        <li>&nbsp;</li>
    }
</ul>

