@model IEnumerable<ThunderB_redesign.Models.feedback>


@{
    ViewBag.Title = "Index";
}

<h2>List of Feedback</h2>



<ul>
    @foreach (var x in Model)
    {
        <li>@Html.ActionLink(x.topic, "Details", new { id = x.Id })</li>
    }
</ul>

